{% extends 'base.html' %}

{% block title %}
View All Cakes
{% endblock %}

{% block content %}

<h1> The Cake Cupboard</h1>

{% for cake in cakes %}
    
    <div class="card">
        <h3>{{ cake.name }}</h3>

    <a href="{% url 'detail' cake.id %}">
        <div class="card-content">
            <div class="flex-container">
                <div>
                
                <p>Main Flavours: {{ cake.flavours }}</p>
                <p>Description: {{ cake.description }}</p>
                <p>Added by: {{ cake.created_by }} </p>
            </div>

                <div class="right">
                <img src="{{cake.imageurl}}" id="cakeImage"/>
            </div>
        </div>    
        

    </a>
</div>
</div>


    
{% endfor %}

{% endblock %}