{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <body>
        <header class="nav-bar fixed">
            <nav>
                <div class="nav-wrapper">
                    <ul>
                        <li><a href ="{% url 'home' %}" class="left brand logo">&nbsp;&nbsp;Home</a></li>
                    </ul>
    
                    <ul>
                        <li><a href ="{% url 'home' %}" class="right">Home</a></li>
                        <li><a href ="{% url 'cakes_create' %}" class="right">Add a Cake</a></li>
                        <li><a href ="{% url 'index' %}">View All Cakes</a></li>
                        <li><a href ="{% url '' %}">Add A Recipe</a></li>
                        <li><a href ="{% url '' %}">View All Recipes</a></li>
                        <li><a href ="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href ="{% url 'login' %}">Log In</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main class="container">
            {% block content %}

            {% endblock %}
        </main>
    
        <footer class="page-footer">
            <div class="right">
                All Rights Reserved, &nbsp; 2022 Cakes Unlimited
            </div>
    
        </footer>
    </body>
</body>
</html>