{% extends 'base.html'%}

{% block title %}
Cakes cakes Cakes
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<section class="sect" id="splash">
    
</section>

<section class="sect" style="background-color: #F4D2DB">
    <h1 class="splash-text">Add a cake and get involved!</h1>
</section>

<section class="sect" style="background-color: #F4D2F3">
    <h2 class="splash-text">Browse cakes and submit your own recipes!</h2>
</section>

{% else %}

<h1> WELCOME TO CAKES UNLIMITED </h1>
<hr>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, deleniti temporibus laboriosam reiciendis ratione omnis porro maxime cupiditate consectetur suscipit veniam veritatis unde necessitatibus incidunt. Iusto, neque doloremque. Fuga, officiis?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ea deleniti explicabo dolorem quas quidem omnis, quam sint enim necessitatibus molestias ipsa, dolores perferendis velit ab accusamus labore maiores non.

</p>

{% endif %}

{% endblock%}