{% extends 'base.html'%}


{% block content %}
<h1> WELCOME TO CAKES UNLIMITED</h1>
<hr>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, deleniti temporibus laboriosam reiciendis ratione omnis porro maxime cupiditate consectetur suscipit veniam veritatis unde necessitatibus incidunt. Iusto, neque doloremque. Fuga, officiis?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ea deleniti explicabo dolorem quas quidem omnis, quam sint enim necessitatibus molestias ipsa, dolores perferendis velit ab accusamus labore maiores non.

</p>

{% endblock%}